/* Write your global styles here, in PostCSS syntax */

@import url( 'https://fonts.googleapis.com/css?family=Exo+2|Workbench|Bebas+Neue&display=swap');
@import './reset.css';

body {
  --cp-color-17-hsl: 225deg 9.52% 22.24%;
  background-color: hsl(var(--cp-color-17-hsl));
}

